{"filter":false,"title":"django.config","tooltip":"/.ebextensions/django.config","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":36},"end":{"row":2,"column":36},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"fce3c8e76d22ca00287699de6ea67ad9f4e83f05","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1523321025470}