{% extends "base.html" %}
{% load static %}
{% block content %}

<div class='logo my-3 mx-auto' alt='Spokarena Logo'></div>
<div class="card mx-auto mb-3">
  <div class="card-header text-center"><a>All Events</a></div>
  <div class="card-body py-0">
    <ul class="list-group list-group-flush text-left">
      {% for event in events %}
        {% with day=event.0 month=event.1 title=event.2 doors=event.3 arrive=event.4 %}
          <a href='{{month}}{{day}}'>
            <li class="mx-2">
              <div class="row">
                <div class="date-div text-center ml-4">
                  <div class="month">{{month}}</div>
                  <div class="day">{{day}}</div>  
                </div>
                <div class="event-details col-8 px-2" style="line-height:1.2em;">
                  <strong>Event: </strong>{{title}}<br />
                  <strong>Doors Open: </strong>{{doors|default:"TBD"}}<br />
                  <strong>Venue: </strong>Spokane Arena
                </div>
              </div>
            </li>
          </a>
        {% endwith %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}