{% load static %}

<!doctype html>
    <html lang="en">
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="shortcut icon" href="#" type="image/x-icon" />
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <title>Arena Schedule</title>
            {% include 'base/css.html' %}
            {% block base_head %} {% endblock %}
        </head>
        
        <body> 
            <div class="container px-1">
                {% block content %}{% endblock %}
            </div>
            {% include 'base/js.html' %}
            {% block javascript %}{% endblock %}
        </body>
    </html>